<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The page you were looking for was not found.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Notes" asp-action="Index">Home Page</a>
    </div>
</div>